wallbox-flows.json
[{"id":"07a6d93fc6f23057","type":"tab","label":"Wallbox","disabled":false,"info":"","env":[]},{"id":"e2a495771f9031da","type":"api-current-state","z":"07a6d93fc6f23057","name":"Überschussladen aktiv?","server":"39b44870.060e68","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.uberschussladen","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"correlationData","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1070,"y":980,"wires":[["f60774ffa14a82e0"],[]]},{"id":"f60774ffa14a82e0","type":"api-current-state","z":"07a6d93fc6f23057","name":"Auto angesteckt?","server":"39b44870.060e68","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.go_echarger_247529_car","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"correlationData","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1350,"y":980,"wires":[["a7eaca2e95b22d49"],[]]},{"id":"7f5ecada3a825bce","type":"api-current-state","z":"07a6d93fc6f23057","name":"Wallbox Vorrang","server":"39b44870.060e68","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.wallbox_vorrang","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":640,"y":1040,"wires":[["e2a495771f9031da"],[]]},{"id":"737492345bb6c808","type":"api-current-state","z":"07a6d93fc6f23057","name":"Wallbox Vorrang","server":"39b44870.060e68","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.wallbox_vorrang","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":600,"y":840,"wires":[[],["e2a495771f9031da"]]},{"id":"4b8cae8caba61290","type":"api-current-state","z":"07a6d93fc6f23057","name":"Überschuss+WB","server":"39b44870.060e68","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.uberschuss_wb","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":250,"y":1480,"wires":[["f1b2c3d4e5pvverfuegbar"]]},{"id":"a7eaca2e95b22d49","type":"api-current-state","z":"07a6d93fc6f23057","name":"Wallbox Vorrang","server":"39b44870.060e68","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.wallbox_vorrang","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":140,"y":1280,"wires":[["81b196303633102e"],["4b8cae8caba61290"]]},{"id":"81b196303633102e","type":"api-current-state","z":"07a6d93fc6f23057","name":"Überschuss+WB+AKKU","server":"39b44870.060e68","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.uberschuss_wb_akku","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":270,"y":1400,"wires":[["f1b2c3d4e5pvverfuegbar"]]},{"id":"05ba658b63322ba5","type":"inject","z":"07a6d93fc6f23057","name":"Alle 15 Sek.","props":[{"p":"payload"}],"repeat":"15","crontab":"","once":true,"onceDelay":"5","topic":"","payload":"","payloadType":"date","x":110,"y":940,"wires":[["411d17a98ab28260","3679c662a6f73723"]]},{"id":"d7385a4d4c9bd666","type":"api-current-state","z":"07a6d93fc6f23057","name":"Überschuss+WB","server":"39b44870.060e68","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.uberschuss_wb","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":"","forType":"num","x":390,"y":840,"wires":[["737492345bb6c808"]]},{"id":"63958a58d2369dd4","type":"api-current-state","z":"07a6d93fc6f23057","name":"Überschuss+WB+Akku","server":"39b44870.060e68","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.uberschuss_wb_akku","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":"","forType":"num","x":390,"y":1040,"wires":[["7f5ecada3a825bce"]]},{"id":"1cdb27c1fed39e55","type":"function","z":"07a6d93fc6f23057","name":"ladeart merken","func":"flow.set(\"ladeart\", msg.payload);\nreturn null;","outputs":0,"noerr":0,"x":420,"y":1120,"wires":[]},{"id":"f08eef4c4ae0e513","type":"api-current-state","z":"07a6d93fc6f23057","name":"Auto angesteckt?","server":"39b44870.060e68","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.go_echarger_247529_car","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"correlationData","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":530,"y":940,"wires":[["d7385a4d4c9bd666","63958a58d2369dd4","9d6383f0d5327cdd"],[]]},{"id":"f1b2c3d4e5pvverfuegbar","type":"function","z":"07a6d93fc6f23057","name":"Setze pv_verfuegbar","func":"// Setze den verfügbaren PV-Überschuss in die Flow-Variable\nflow.set(\"pv_verfuegbar\", Number(msg.payload));\nflow.set(\"pv_quelle\", msg.entity_id || \"unbekannt\");\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1460,"wires":[["b551e653268f2748","06d2430f60e96935","39bec3d7c03db679"]]},{"id":"b551e653268f2748","type":"function","z":"07a6d93fc6f23057","name":"Ampere berechnen (Hysterese, fix)","func":"const pv = Number(msg.payload);\nconst ladeart = flow.get(\"ladeart\") || \"Force single phase\";\n\nlet f = 230;\nif (ladeart === \"Force three phases\") {\n    f = 230 * 3;\n}\n\nlet ampere = 6;  // Startwert auf Minimum setzen\n\n// Direkt auf passenden Wert springen\nfor (let i = 16; i >= 7; i--) {\n    if (pv > i * f) {\n        ampere = i;\n        break;\n    }\n}\n\n// Untere Grenze absichern\nif (ampere < 6) ampere = 6;\n\ncontext.set(\"letzterAmpere\", ampere);\nmsg.payload = ampere;\nreturn msg;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":1400,"wires":[["443fd4fbf48081d7"]]},{"id":"443fd4fbf48081d7","type":"api-current-state","z":"07a6d93fc6f23057","name":"Aktueller Wallbox-Wert","server":"39b44870.060e68","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"number.go_echarger_247529_amp","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"currentAmp","propertyType":"msg","value":"","valueType":"entityState"}],"for":"","forType":"num","x":840,"y":1520,"wires":[["d207decaf4743df9"]]},{"id":"d207decaf4743df9","type":"function","z":"07a6d93fc6f23057","name":"Vergleiche & Update (≥1A)","func":"var newAmp = Number(msg.payload);\nvar currentAmp = Number(msg.currentAmp);\n\nif (Math.abs(newAmp - currentAmp) >= 1) {\n    return msg;\n} else {\n    return null;\n}","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":1460,"wires":[["7c97affd559eb033"]]},{"id":"7c97affd559eb033","type":"api-call-service","z":"07a6d93fc6f23057","name":"Ampere setzen","server":"39b44870.060e68","version":7,"debugenabled":false,"action":"number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["number.go_echarger_247529_amp"],"data":"{ \"value\": {{payload}} }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"blockInputOverrides":false,"domain":"number","service":"set_value","target":{"entity_id":"number.go_echarger_247529_amp"},"x":990,"y":1400,"wires":[[]]},{"id":"timer_function_node","type":"function","z":"07a6d93fc6f23057","name":"Timer Ladung Stoppen <1000W (10min)","func":"const grenzwert = 1000; // Watt\nconst mindestdauer = 10 * 60 * 1000; // 10 Minuten\nconst jetzt = Date.now();\nconst pv = Number(msg.payload);\n\nlet lastBelow = context.get(\"lastBelow\");\nlet alreadyStopped = flow.get(\"ladungGestoppt\") || false;\n\nif (pv < grenzwert) {\n    if (!lastBelow) {\n        context.set(\"lastBelow\", jetzt);\n        return null;\n    }\n\n    const vergangen = jetzt - lastBelow;\n\n    if (vergangen >= mindestdauer && !alreadyStopped) {\n        flow.set(\"ladungGestoppt\", true);    // Sperre setzen\n        flow.set(\"ladungGestartet\", false);  // Gegenstück zurücksetzen\n        // Achtung: KEIN neues context.set(\"lastBelow\") hier!\n        msg.payload = \"unter_6a\";\n        return msg;\n    }\n\n    return null;\n}\n\n// PV wieder ausreichend – zurücksetzen\ncontext.set(\"lastBelow\", null);\nflow.set(\"ladungGestoppt\", false);  // Optional, wenn neu starten soll\nreturn null;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":2400,"wires":[["d9c06339bbef42f1"]]},{"id":"4a43e315df34a049","type":"function","z":"07a6d93fc6f23057","name":"Timer Ladung Starten >1200W (2min)","func":"const grenzwert = 1200; // Watt\nconst mindestdauer = 2 * 60 * 1000; // 5 Minuten\nconst jetzt = Date.now();\nconst pv = Number(msg.payload);\n\nlet lastAbove = context.get(\"lastAbove\");\nlet alreadyStarted = flow.get(\"ladungGestartet\") || false;\n\nif (pv > grenzwert) {\n    if (!lastAbove) {\n        context.set(\"lastAbove\", jetzt);\n        return null;\n    }\n\n    const vergangen = jetzt - lastAbove;\n\n    if (vergangen >= mindestdauer && !alreadyStarted) {\n        flow.set(\"ladungGestartet\", true);\n        flow.set(\"ladungGestoppt\", false);\n        // Achtung: KEIN neues context.set(\"lastAbove\") hier\n        msg.payload = \"ueber_6a\";\n        return msg;\n    }\n\n    return null;\n}\n\n// PV-Leistung unter Grenzwert → zurücksetzen\ncontext.set(\"lastAbove\", null);\nflow.set(\"ladungGestartet\", false);  // Optional: Reset für nächste Runde\nreturn null;\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":2340,"wires":[["f80e9526c28712d3"]]},{"id":"72c3761da3c0f69a","type":"api-current-state","z":"07a6d93fc6f23057","name":"only PV?","server":"39b44870.060e68","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.only_pv","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"","forType":"num","x":420,"y":2360,"wires":[["timer_function_node","4a43e315df34a049"],[]]},{"id":"66a95ef690d7f25d","type":"function","z":"07a6d93fc6f23057","name":"Sperren zurücksetzen","func":"flow.set(\"ladungGestartet\", false);\nflow.set(\"ladungGestoppt\", false);\nreturn null;","outputs":0,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":2140,"wires":[]},{"id":"b5c6babb295b1256","type":"api-call-service","z":"07a6d93fc6f23057","name":"Lademodus Neutral schalten","server":"39b44870.060e68","version":7,"debugenabled":false,"action":"button.press","floorId":[],"areaId":[],"deviceId":[],"entityId":["button.go_echarger_247529_frc"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"button","service":"press","x":440,"y":2180,"wires":[[]]},{"id":"f579395f33c3fd7f","type":"server-state-changed","z":"07a6d93fc6f23057","name":"only PV","server":"39b44870.060e68","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.only_pv"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":350,"y":2080,"wires":[["66a95ef690d7f25d","8fae70fc098b2f70"],["b5c6babb295b1256","66a95ef690d7f25d"]]},{"id":"f80e9526c28712d3","type":"api-call-service","z":"07a6d93fc6f23057","name":"Laden starten","server":"39b44870.060e68","version":7,"debugenabled":false,"action":"button.press","floorId":[],"areaId":[],"deviceId":[],"entityId":["button.go_echarger_247529_frc_3"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"button","service":"press","x":1080,"y":2340,"wires":[[]]},{"id":"d9c06339bbef42f1","type":"api-call-service","z":"07a6d93fc6f23057","name":"Laden stoppen","server":"39b44870.060e68","version":7,"debugenabled":false,"action":"button.press","floorId":[],"areaId":[],"deviceId":[],"entityId":["button.go_echarger_247529_frc_2"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"button","service":"press","x":1080,"y":2400,"wires":[[]]},{"id":"d21bff4e5e26b48d","type":"function","z":"07a6d93fc6f23057","name":"PV > 1300 W?","func":"const pv = Number(flow.get(\"pv_verfuegbar\"));\n\nif (pv > 1300) {\n    return [msg, null];  // Ausgang 1 → Laden starten\n} else {\n    return [null, msg];  // Ausgang 2 → Laden stoppen\n}\n","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":2040,"wires":[["f80e9526c28712d3"],["d9c06339bbef42f1"]]},{"id":"phase_timer_3p","type":"function","z":"07a6d93fc6f23057","name":"Timer → 3-phasig (2min ≥ 4000W)","func":"const grenzwert = 4000;\nconst mindestdauer = 2 * 60 * 1000; // 2 Minuten\nconst jetzt = Date.now();\nconst pv = Number(msg.payload);\n\nlet lastAbove = context.get(\"lastAbove\");\nlet alreadySwitched = flow.get(\"phase3_aktiv\") || false;\n\nif (pv >= grenzwert) {\n    if (!lastAbove) {\n        context.set(\"lastAbove\", jetzt);\n        return null;\n    }\n\n    const vergangen = jetzt - lastAbove;\n\n    if (vergangen >= mindestdauer && !alreadySwitched) {\n        flow.set(\"phase3_aktiv\", true);\n        flow.set(\"phase1_aktiv\", false);\n        msg.payload = \"3-phasig\";\n        return msg;\n    }\n\n    return null;\n}\n\ncontext.set(\"lastAbove\", null);\nreturn null;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":1700,"wires":[["8eb243bb7d4a1f46"]]},{"id":"phase_timer_1p","type":"function","z":"07a6d93fc6f23057","name":"Timer → 1-phasig (5min < 4000W)","func":"const grenzwert = 4000;\nconst mindestdauer = 5 * 60 * 1000; // 5 Minuten\nconst jetzt = Date.now();\nconst pv = Number(msg.payload);\n\nlet lastBelow = context.get(\"lastBelow\");\nlet alreadySwitched = flow.get(\"phase1_aktiv\") || false;\n\nif (pv < grenzwert) {\n    if (!lastBelow) {\n        context.set(\"lastBelow\", jetzt);\n        return null;\n    }\n\n    const vergangen = jetzt - lastBelow;\n\n    if (vergangen >= mindestdauer && !alreadySwitched) {\n        flow.set(\"phase1_aktiv\", true);\n        flow.set(\"phase3_aktiv\", false);\n        msg.payload = \"1-phasig\";\n        return msg;\n    }\n\n    return null;\n}\n\ncontext.set(\"lastBelow\", null);\nreturn null;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":1760,"wires":[["706870dc5ce5f19c"]]},{"id":"0a946380ce9b94b3","type":"function","z":"07a6d93fc6f23057","name":"Phasenumschaltung Timer reset","func":"// Funktion: Reset der Phasen-Status-Flags\nflow.set(\"phase1_aktiv\", false);\nflow.set(\"phase3_aktiv\", false);\ncontext.set(\"lastAbove\", null);\ncontext.set(\"lastBelow\", null);\n\nreturn null;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":1820,"wires":[[]]},{"id":"06d2430f60e96935","type":"api-current-state","z":"07a6d93fc6f23057","name":"Ioniq5 ON?","server":"39b44870.060e68","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.ioniq5","state_type":"str","blockInputOverrides":true,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":690,"y":1740,"wires":[["phase_timer_1p","phase_timer_3p"],[]]},{"id":"a173ac2b84d523f0","type":"server-state-changed","z":"07a6d93fc6f23057","name":"Ioniq5 On?","server":"39b44870.060e68","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.ioniq5"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":680,"y":1820,"wires":[["0a946380ce9b94b3"],["0a946380ce9b94b3"]]},{"id":"07855ac9f080506a","type":"comment","z":"07a6d93fc6f23057","name":"────────── Anfang der Steuerung──────────","info":"","x":360,"y":760,"wires":[]},{"id":"7f1cb15aa8d32463","type":"comment","z":"07a6d93fc6f23057","name":"────────── Berechnungen ──────────","info":"","x":520,"y":1300,"wires":[]},{"id":"a7d38dd9640a6c57","type":"comment","z":"07a6d93fc6f23057","name":"────────── Phasenumschaltung ──────────","info":"","x":840,"y":1660,"wires":[]},{"id":"c5893c85d004cc8d","type":"comment","z":"07a6d93fc6f23057","name":"────────── Only PV ──────────","info":"","x":500,"y":1980,"wires":[]},{"id":"3679c662a6f73723","type":"api-current-state","z":"07a6d93fc6f23057","name":"Ioniq5 ON?","server":"39b44870.060e68","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.ioniq5","state_type":"str","blockInputOverrides":true,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":270,"y":920,"wires":[["f08eef4c4ae0e513"],[]]},{"id":"411d17a98ab28260","type":"api-current-state","z":"07a6d93fc6f23057","name":"Spring ON?","server":"39b44870.060e68","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.spring","state_type":"str","blockInputOverrides":true,"outputProperties":[],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":270,"y":960,"wires":[["f08eef4c4ae0e513"],[]]},{"id":"4c61e22e1666c1e8","type":"api-call-service","z":"07a6d93fc6f23057","name":"6 Ah setzen","server":"39b44870.060e68","version":7,"debugenabled":false,"action":"number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["number.go_echarger_247529_amp"],"labelId":[],"data":"{ \"value\": 6 }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"blockInputOverrides":false,"domain":"number","service":"set_value","target":{"entity_id":"number.go_echarger_247529_amp"},"x":2430,"y":140,"wires":[[]]},{"id":"281fe2dfe5d9b039","type":"server-state-changed","z":"07a6d93fc6f23057","name":"Ioniq5 ON","server":"39b44870.060e68","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.ioniq5"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":120,"wires":[["52f9d017de55e40d","5f438b1b3ee4ce14"],["25b58255bfc89264"]]},{"id":"f08b27e2ab9c4365","type":"server-state-changed","z":"07a6d93fc6f23057","name":"Spring ON","server":"39b44870.060e68","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.spring"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":80,"y":180,"wires":[["8671bd633c1e1eaf","6d5a39e0c55c141f"],["25b58255bfc89264"]]},{"id":"25b58255bfc89264","type":"api-call-service","z":"07a6d93fc6f23057","name":"Laden stoppen","server":"39b44870.060e68","version":7,"debugenabled":false,"action":"button.press","floorId":[],"areaId":[],"deviceId":[],"entityId":["button.go_echarger_247529_frc_2"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"button","service":"press","x":800,"y":240,"wires":[["17c2585bce542280"]]},{"id":"226cae3531154d71","type":"api-call-service","z":"07a6d93fc6f23057","name":"Lademodus Neutral schalten","server":"39b44870.060e68","version":7,"debugenabled":false,"action":"button.press","floorId":[],"areaId":[],"deviceId":[],"entityId":["button.go_echarger_247529_frc"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"button","service":"press","x":560,"y":460,"wires":[["f1b3bdb24c0de5bb"]]},{"id":"b12c1cfea65e2065","type":"server-state-changed","z":"07a6d93fc6f23057","name":"Überschussladen","server":"39b44870.060e68","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["input_boolean.uberschussladen"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":440,"wires":[["32b8f3bca4bf924d"],["2fe07da2ef59a569"]]},{"id":"2fe07da2ef59a569","type":"api-call-service","z":"07a6d93fc6f23057","name":"16 Ah setzen","server":"39b44870.060e68","version":7,"debugenabled":false,"action":"number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["number.go_echarger_247529_amp"],"labelId":[],"data":"{ \"value\": 16 }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"blockInputOverrides":false,"domain":"number","service":"set_value","target":{"entity_id":"number.go_echarger_247529_amp"},"x":310,"y":460,"wires":[["226cae3531154d71"]]},{"id":"d6a73e84196eb014","type":"comment","z":"07a6d93fc6f23057","name":"────────── Schalter ──────────","info":"","x":180,"y":20,"wires":[]},{"id":"8eb243bb7d4a1f46","type":"api-call-service","z":"07a6d93fc6f23057","name":"Phasenumschaltung \"Force three phases\"","server":"39b44870.060e68","version":7,"debugenabled":false,"action":"select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["select.go_echarger_247529_psm"],"labelId":[],"data":"{   \"option\": \"Force three phases\" }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"select","service":"select_option","x":1300,"y":1700,"wires":[[]]},{"id":"998054a91b36bb50","type":"inject","z":"07a6d93fc6f23057","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1160,"y":560,"wires":[[]]},{"id":"706870dc5ce5f19c","type":"api-call-service","z":"07a6d93fc6f23057","name":"Phasenumschaltung \"Force single phase\"","server":"39b44870.060e68","version":7,"debugenabled":false,"action":"select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["select.go_echarger_247529_psm"],"labelId":[],"data":"{   \"option\": \"Force single phase\" }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"select","service":"select_option","x":1300,"y":1760,"wires":[[]]},{"id":"17c2585bce542280","type":"api-call-service","z":"07a6d93fc6f23057","name":"Phasenumschaltung \"Auto\"","server":"39b44870.060e68","version":7,"debugenabled":false,"action":"select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["select.go_echarger_247529_psm"],"labelId":[],"data":"{   \"option\": \"Auto\" }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"select","service":"select_option","x":1020,"y":240,"wires":[["0ff4b1d17c0c2e9a"]]},{"id":"39bec3d7c03db679","type":"api-current-state","z":"07a6d93fc6f23057","name":"Ladeart = \"Force single phase\"","server":"39b44870.060e68","version":3,"outputs":2,"halt_if":"Force single phase","halt_if_type":"str","halt_if_compare":"is","entity_id":"select.go_echarger_247529_psm","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"","forType":"num","x":170,"y":2360,"wires":[["72c3761da3c0f69a","66a95ef690d7f25d"],["66a95ef690d7f25d"]]},{"id":"c91c4d92e2e85664","type":"api-call-service","z":"07a6d93fc6f23057","name":"Lademodus Neutral schalten","server":"39b44870.060e68","version":7,"debugenabled":false,"action":"button.press","floorId":[],"areaId":[],"deviceId":[],"entityId":["button.go_echarger_247529_frc"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"button","service":"press","x":360,"y":540,"wires":[[]]},{"id":"31ddd0c8077a9e62","type":"api-call-service","z":"07a6d93fc6f23057","name":"only PV OFF","server":"39b44870.060e68","version":7,"debugenabled":false,"action":"input_boolean.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.only_pv"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_boolean","service":"turn_off","x":310,"y":600,"wires":[[]]},{"id":"a2b32f63afdc4cba","type":"server-state-changed","z":"07a6d93fc6f23057","name":"Auto angesteckt?","server":"39b44870.060e68","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["binary_sensor.go_echarger_247529_car"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"on","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":540,"wires":[[],["31ddd0c8077a9e62","c91c4d92e2e85664"]]},{"id":"680cdc4d3cec2689","type":"api-call-service","z":"07a6d93fc6f23057","name":"Setze 3-phasig","server":"39b44870.060e68","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.uberschuss_ladeart"],"labelId":[],"data":"{   \"option\": \"3-phasig\" }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","output_location":"","output_location_type":"none","x":1840,"y":120,"wires":[["beb3a253bad7456c"]]},{"id":"5531c3419e547ea9","type":"api-call-service","z":"07a6d93fc6f23057","name":"Setze 1-phasig","server":"39b44870.060e68","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.uberschuss_ladeart"],"labelId":[],"data":"{   \"option\": \"1-phasig\" }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","output_location":"","output_location_type":"none","x":1840,"y":180,"wires":[["beb3a253bad7456c"]]},{"id":"9b5b794f771aef42","type":"api-current-state","z":"07a6d93fc6f23057","name":"Ladeart = \"Force single phase\"","server":"39b44870.060e68","version":3,"outputs":2,"halt_if":"Force single phase","halt_if_type":"str","halt_if_compare":"is","entity_id":"select.go_echarger_247529_psm","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"","forType":"num","x":1590,"y":180,"wires":[["5531c3419e547ea9"],[]]},{"id":"53488fd22ef59920","type":"api-current-state","z":"07a6d93fc6f23057","name":"Ladeart = \"Force three phases\"","server":"39b44870.060e68","version":3,"outputs":2,"halt_if":"Force three phases","halt_if_type":"str","halt_if_compare":"is","entity_id":"select.go_echarger_247529_psm","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"","forType":"num","x":1590,"y":120,"wires":[["680cdc4d3cec2689"],[]]},{"id":"69c59615abc69364","type":"api-call-service","z":"07a6d93fc6f23057","name":"Phasenumschaltung \"Force three phases\"","server":"39b44870.060e68","version":7,"debugenabled":false,"action":"select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["select.go_echarger_247529_psm"],"labelId":[],"data":"{   \"option\": \"Force three phases\" }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"select","service":"select_option","x":1060,"y":120,"wires":[["0f72b30c3a901b45"]]},{"id":"825a65c9ef0003ad","type":"api-call-service","z":"07a6d93fc6f23057","name":"Phasenumschaltung \"Force single phase\"","server":"39b44870.060e68","version":7,"debugenabled":false,"action":"select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["select.go_echarger_247529_psm"],"labelId":[],"data":"{   \"option\": \"Force single phase\" }","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"select","service":"select_option","x":1060,"y":180,"wires":[["13fb9cceae8252a3"]]},{"id":"0f72b30c3a901b45","type":"delay","z":"07a6d93fc6f23057","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1340,"y":120,"wires":[["53488fd22ef59920"]]},{"id":"13fb9cceae8252a3","type":"delay","z":"07a6d93fc6f23057","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1340,"y":180,"wires":[["9b5b794f771aef42"]]},{"id":"8669a3fc5bb5039d","type":"api-call-service","z":"07a6d93fc6f23057","name":"Setze Auto","server":"39b44870.060e68","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.uberschuss_ladeart"],"labelId":[],"data":"{   \"option\": \"Auto\" }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","output_location":"","output_location_type":"none","x":1830,"y":240,"wires":[[]]},{"id":"9d85e3b724c5b7c2","type":"api-current-state","z":"07a6d93fc6f23057","name":"Ladeart = \"Auto\"","server":"39b44870.060e68","version":3,"outputs":2,"halt_if":"Auto","halt_if_type":"str","halt_if_compare":"is","entity_id":"select.go_echarger_247529_psm","state_type":"str","blockInputOverrides":false,"outputProperties":[],"for":"","forType":"num","x":1540,"y":240,"wires":[["8669a3fc5bb5039d"],[]]},{"id":"0ff4b1d17c0c2e9a","type":"delay","z":"07a6d93fc6f23057","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1340,"y":240,"wires":[["9d85e3b724c5b7c2"]]},{"id":"52f9d017de55e40d","type":"api-call-service","z":"07a6d93fc6f23057","name":"Spring OFF","server":"39b44870.060e68","version":7,"debugenabled":false,"action":"input_boolean.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.spring"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_boolean","service":"turn_off","x":330,"y":260,"wires":[[]]},{"id":"8671bd633c1e1eaf","type":"api-call-service","z":"07a6d93fc6f23057","name":"Ioniq5 OFF","server":"39b44870.060e68","version":7,"debugenabled":false,"action":"input_boolean.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.ioniq5"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_boolean","service":"turn_off","x":330,"y":320,"wires":[[]]},{"id":"5f438b1b3ee4ce14","type":"delay","z":"07a6d93fc6f23057","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":800,"y":120,"wires":[["69c59615abc69364"]]},{"id":"6d5a39e0c55c141f","type":"delay","z":"07a6d93fc6f23057","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":800,"y":180,"wires":[["825a65c9ef0003ad"]]},{"id":"beb3a253bad7456c","type":"api-call-service","z":"07a6d93fc6f23057","name":"Lademodus Neutral schalten","server":"39b44870.060e68","version":7,"debugenabled":false,"action":"button.press","floorId":[],"areaId":[],"deviceId":[],"entityId":["button.go_echarger_247529_frc"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"button","service":"press","x":2200,"y":140,"wires":[["4c61e22e1666c1e8"]]},{"id":"08b4c8e752895556","type":"server-state-changed","z":"07a6d93fc6f23057","name":"Ladeziel_dropdown","server":"39b44870.060e68","version":6,"outputs":1,"exposeAsEntityConfig":"","entities":{"entity":["input_select.ladeziel_dropdown"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":680,"wires":[["c2de5c6a73f6a264"]]},{"id":"c2de5c6a73f6a264","type":"api-call-service","z":"07a6d93fc6f23057","name":"Ladeziel","server":"39b44870.060e68","version":7,"debugenabled":false,"action":"input_number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_number.ladeziel"],"labelId":[],"data":"{\"value\": $number(payload)}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_number","service":"set_value","x":320,"y":680,"wires":[[]]},{"id":"f1b3bdb24c0de5bb","type":"api-call-service","z":"07a6d93fc6f23057","name":"only PV OFF","server":"39b44870.060e68","version":7,"debugenabled":false,"action":"input_boolean.turn_off","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_boolean.only_pv"],"labelId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":true,"domain":"input_boolean","service":"turn_off","x":790,"y":460,"wires":[[]]},{"id":"32b8f3bca4bf924d","type":"api-call-service","z":"07a6d93fc6f23057","name":"6 Ah setzen","server":"39b44870.060e68","version":7,"debugenabled":false,"action":"number.set_value","floorId":[],"areaId":[],"deviceId":[],"entityId":["number.go_echarger_247529_amp"],"labelId":[],"data":"{ \"value\": 6 }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"blockInputOverrides":false,"domain":"number","service":"set_value","target":{"entity_id":"number.go_echarger_247529_amp"},"x":310,"y":420,"wires":[[]]},{"id":"8fae70fc098b2f70","type":"api-current-state","z":"07a6d93fc6f23057","name":"Auto angesteckt?","server":"39b44870.060e68","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.go_echarger_247529_car","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"correlationData","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":630,"y":2040,"wires":[["d21bff4e5e26b48d"],[]]},{"id":"9d6383f0d5327cdd","type":"api-current-state","z":"07a6d93fc6f23057","name":"Ladeart lesen","server":"39b44870.060e68","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"select.go_echarger_247529_psm","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":"","forType":"num","x":220,"y":1120,"wires":[["1cdb27c1fed39e55"]]},{"id":"29511134be0b9a26","type":"inject","z":"07a6d93fc6f23057","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":2940,"wires":[["903c686cb222bfb9"]]},{"id":"903c686cb222bfb9","type":"api-current-state","z":"07a6d93fc6f23057","name":"test PV","server":"39b44870.060e68","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_number.test_pv_leistung","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":140,"y":3000,"wires":[[]]},{"id":"39b44870.060e68","type":"server","name":"Home Assistant","addon":true}]